In [8]:
#Imports
import pandas as pd
import numpy as np

In [9]:
# Study data files
lat_long_path = "../ETL/ETL-Results/lat_long.csv"
#d = pandas.read_csv('foo.csv', dtype={'BAR': 'S10'})
# Read the mouse data and the study results
fips_lat_long = pd.read_csv(lat_long_path, dtype = {'fips': 'str'})

In [10]:
fips_lat_long

,fips,clon00,clat00,clon10,clat10,pclon00,pclat00,pclon10,pclat10
0,01001,-86.577176,32.523283,-86.644490,32.536382,-86.501832,32.500323,-86.494165,32.500389
1,01003,-87.748260,30.592781,-87.746067,30.659218,-87.760540,30.565383,-87.762381,30.548923
2,01005,-85.331312,31.856515,-85.405456,31.870670,-85.306746,31.847869,-85.310038,31.844036
3,01007,-87.123243,33.040054,-87.127148,33.015893,-87.127019,33.025947,-87.127659,33.030921
4,01009,-86.554768,33.978461,-86.567246,33.977448,-86.582617,33.962601,-86.591491,33.955243
...,...,...,...,...,...,...,...,...,...
3142,56037,-109.168198,41.640708,-108.875676,41.660339,-109.302230,41.577416,-109.295115,41.580266
3143,56039,-110.673534,43.612124,-110.588102,44.049320,-110.779920,43.501456,-110.784353,43.494174
3144,56041,-110.599878,41.283917,-110.558947,41.284726,-110.771650,41.273058,-110.767519,41.271860
3145,56043,-107.728972,43.960220,-107.669052,43.878831,-107.909260,44.011935,-107.911552,44.012142
3146,56045,-104.562398,43.879790,-104.570020,43.846213,-104.312710,43.901854,-104.312414,43.910214

In [4]:
#fips_lat_long['fips'] = str(fips_lat_long['fips'])

In [5]:
#fips_lat_long.dtypes()

In [11]:
fips_lat_long['state_code']=fips_lat_long['fips'].str.slice(stop=2)
fips_lat_long['county_code']=fips_lat_long['fips'].str.slice(start=2)

In [12]:
fips_lat_long

,fips,clon00,clat00,clon10,clat10,pclon00,pclat00,pclon10,pclat10,state_code,county_code
0,01001,-86.577176,32.523283,-86.644490,32.536382,-86.501832,32.500323,-86.494165,32.500389,01,001
1,01003,-87.748260,30.592781,-87.746067,30.659218,-87.760540,30.565383,-87.762381,30.548923,01,003
2,01005,-85.331312,31.856515,-85.405456,31.870670,-85.306746,31.847869,-85.310038,31.844036,01,005
3,01007,-87.123243,33.040054,-87.127148,33.015893,-87.127019,33.025947,-87.127659,33.030921,01,007
4,01009,-86.554768,33.978461,-86.567246,33.977448,-86.582617,33.962601,-86.591491,33.955243,01,009
...,...,...,...,...,...,...,...,...,...,...,...
3142,56037,-109.168198,41.640708,-108.875676,41.660339,-109.302230,41.577416,-109.295115,41.580266,56,037
3143,56039,-110.673534,43.612124,-110.588102,44.049320,-110.779920,43.501456,-110.784353,43.494174,56,039
3144,56041,-110.599878,41.283917,-110.558947,41.284726,-110.771650,41.273058,-110.767519,41.271860,56,041
3145,56043,-107.728972,43.960220,-107.669052,43.878831,-107.909260,44.011935,-107.911552,44.012142,56,043
3146,56045,-104.562398,43.879790,-104.570020,43.846213,-104.312710,43.901854,-104.312414,43.910214,56,045